# dependências
/node_modules

# next.js
/.next/
/out/
/build

# typescript
*.tsbuildinfo
next-env.d.ts

# variáveis de ambiente
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# sistema operacional / editores
.DS_Store
Thumbs.db
*.pem
.idea/
.vscode/
*.swp
*.swo

# configurações locais de ferramentas
.claude/
